@import url(../src/index.css);

body {
  background-color: #eeeeee;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  background-color: #694F8E;
  color: white;
  text-align: center;

  & a {
    color: inherit;
  }
}

main {
  background-color: white;
  color: black;
  padding-bottom: 1rem;
}

footer {
  text-align: center;

  & a {
    color: inherit;
  }
}

.tab-set {
  border-bottom-color: #694F8E;

  & a.tab {
    color: inherit;

    &:hover {
      background-color: lightgray;
    }

    &.tab--active {
      border-bottom-color: #694F8E;
    }
  }
}

.pill-set {
  border-bottom-color: #694F8E;

  & a.pill {
    color: inherit;

    &:hover {
      background-color: lightgray;
    }

    &.pill--active {
      background-color: #694F8E;
      color: white;
      text-decoration: none;
    }
  }
}



