.button {
  background-color: #efefef;
  border: 1px solid darkgray;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 0.825rem;
  line-height: normal;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: white;
    color: black;
  }
}
