.flex-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;

  &>* {
    flex: 1;
  }

  @media (width <=  600px) {
    flex-direction: column;

    &>* {
      flex: auto;
    }
  }
}
