:root {
  --flex-stack-tabs--border-color: darkgray;
}

.flex-stack,
.flex-stack-field,
.flex-stack-icon,
.flex-stack-layout,
.flex-stack-pills,
.flex-stack-row,
.flex-stack-tabs {
  display: flex;
  gap: 1rem;
}

.flex-stack--center,
.flex-stack-icon,
.flex-stack-pills {
  align-items: center;
}

.flex-stack--compact,
.flex-stack-icon {
  gap: 0.5rem;
}

.flex-stack--equal,
.flex-stack-row,
.flex-stack-tabs {
  &>* {
    flex: 1;
  }
}

.flex-stack--list {
  list-style: none;
  padding-left: 0;
}

.flex-stack--middle,
.flex-stack-pills {
  justify-content: center;
}

.flex-stack--space,
.flex-stack-layout {
  justify-content: space-between;
}

.flex-stack--vertical,
.flex-stack-field {
  flex-direction: column;
}

.flex-stack--very-compact,
.flex-stack-field {
  gap: 0.25rem;
}

.flex-stack-pills,
.flex-stack-row,
.flex-stack-tabs {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.flex-stack-tabs {
  border-bottom: 2px solid var(--flex-stack-tabs--border-color);
  color: black;
}
