.panel {
  margin-bottom: 1rem;
  margin-top: 1rem;

  &>.panel__header,
  &>.panel__body {
    border-color: lightgray;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    padding-left: 1rem;
    padding-right: 1rem;

    &.panel__header {
      background-color: #efefef;
      color: black;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }

    &.panel__body {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }

    &:first-child {
      border-radius: 0.25rem 0.25rem 0 0;
    }

    &:last-child {
      border-bottom-width: 1px;
      border-radius: 0 0 0.25rem 0.25rem;
    }
  }
}
