:root {
  --pill--background-color: transparent;
  --pill--background-color--active: lightgray;
  --pill--color: inherit;
  --pill--color--active: black;
}

.pill {
  text-align: center;
  background-color: var(--pill--background-color);
  border-radius: 1.25rem;
  color: var(--pill--color);
  padding: 0.5rem 1.25rem;

  &.pill--active {
    background-color: var(--pill--background-color--active);
    color: var(--pill--color--active);
    font-weight: bold;
  }
}
