:root {
  --tab--border-color: var(--flex-stack-tabs--border-color, darkgray);
}

.tab {
  border-bottom: 2px solid transparent;
  text-align: center;

  &.tab--active {
    border-bottom-color: var(--tab--border-color);
    font-weight: bold;
  }
}
