.text-box {
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  box-sizing: border-box;
  display: block;
  font-size: 0.825rem;
  line-height: normal;
  padding: 0.5rem 1rem;
  width: 100%;

  &:disabled,
  &[readonly] {
    background-color: #efefef;
    cursor: not-allowed;
  }

  &.text-box--select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-expand' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708m0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708'/%3E%3C/svg%3E");
    background-position: center right 0.5rem;
    background-repeat: no-repeat;
    padding-right: 2rem;
  }
}
